#webform-results-download-form .container-inline-date {
  clear: none;
  float: left;
  margin-left: 234px;
  margin-top: -22px;
  width: 1%;
}
.form-item.form-type-date-popup.form-item-range-start-date > label {
  float: left;
  font-size: 16px;
  margin: -7px;
  width: 25%;
}
.form-item.form-type-date-popup.form-item-range-end-date > label {
  float: left;
  font-size: 16px;
  width: 41%;
}
.container-inline-date .date-padding {
  float: left;
  width: 38%;
  padding: 0px;
}
.form-item-range-end-date-date label,
.form-item-range-start-date-date label,
.form-item-delete-end-date-date label,
.form-item-delete-start-date-date label {
  display: none;
}
